/* Reset e Configurações Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: white;
  display: flex;
}

h1 {
  color: #ffb830;
}
/* Navegação */
nav {
  position: fixed;
  background-color: rgba(17, 0, 0, 0.9);
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 1rem 0;
  text-align: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: #ffb830;
}

nav ul li img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
section > img {
  max-height: 80vh;
}
#sobre {
  text-align: justify;
  line-height: 2rem;
}

/* Carrossel */

#home > img {
  padding: 0.3rem;
  max-width: 19vw;
  justify-content: center;
}

.img-about {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.img-about img {
  padding-top: 2rem;
  max-height: 55vh;
}

 
#cardapio > img{
  max-width: 60vw;
}
main {
  margin-left: 15vw;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/img/bg.jpg");
}

.carousel-container {
  width: 75%;
  text-align: center;
  justify-content: ;
  background-color: rgba(17, 0, 0, 0.9);
  border-radius: 10px;
  padding: 2rem;
  height: 90vh;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
