* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000;
  background-image: url("/img/bg.jpg");
  background-repeat: repeat-x repeat-y;
  font-family: Poppins;
}

header {
  justify-content: center;
}

nav {
  justify-content: center;
  display: flex;
  padding: 5.5rem 0 0 0;
  margin: 0 auto;
}

.desktop-menu {
  background-color: rgba(17, 0, 0, 0.9);
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  width: 90%;
}

nav > ul > img {
  border-radius: 50%;
  width: 200px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}


a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffb830;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #ffb830;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

section {
  margin: 0 auto;
  background-color: rgba(17, 0, 0, 0.9);
  color: white;
  padding: 30px;
  line-height: 2;
  text-align: justify;
  margin-bottom: 40px;
  max-height: 100vh;
  
}

.img-sobre {
  padding-top: 30px;
  text-align: center;
  
  
}

.img-sobre > img {
  max-width: 700px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  
}
.txt-sobre{
  max-width: 95%;
}



/* CARROSSEL */

.carousel-container {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-item {
  padding-top: 3rem;
  display: none;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  display: block;
}
