/* Reset e Configurações Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
  color: #333;
  background-image: url("/img/bg.jpg");
}

nav {
  padding-top: 6rem;
  background-color: rgba(15, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

nav ul li {
  text-align: center;
}

nav img {
  max-width: 180px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px black;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: #ffb830;
}

/* Layout das Seções */
section {
  padding: 4rem 1rem;
  text-align: center;
}

/* Estilos para seções individuais */
#home {
  background-color: #f0ebff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  padding: 4rem;
}

#home img {
  max-width: 75%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

#sobre {
  padding: 4rem 9rem;
  background-color: #fff5e1;
  line-height: 2;
}
#sobre p {
  text-align: justify;
}
#sobre img {
  max-width: 500px;
}

#cardapio {
  background-image: none;
}
#cardapio img {
  max-width: 75%;
}

#localizacao {
  background-color: #e1ffe1;
}

#contato {
  background-color: #ffe1e1;
}

/* Ajuste de Imagens */
section img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 1rem 0;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    background-image: none;
  }

  nav {
    padding-top: 5rem;
    height: 4rem;
    background-color: rgb(41, 22, 20);
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    height: 300px;
  }
  nav img {
    position: absolute;
  }

  nav ul li {
    flex-direction: column;
    padding: 1rem;
    display: none;
  }

  section {
    padding: 2rem 1rem;
  }
  #home {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  #sobre {
    padding: 6rem 3rem 3rem 3rem;
  }
}
